@import url(https://www.dafontfree.net/data/42/0/91239/8bitoperator_jve.ttf") format("woff"),url("https://www.dafontfree.net/data/42/0/91239/8bitoperator_jve.ttf);
:root {
    --font-primary: 8bitoperator-jve-regular, sans-serif;
    --font-display: 8bitoperator-jve-regular, sans-serif;
    --font-headline: 8bitoperator-jve-regular, sans-serif;
}
